In [1]:
import pandas as pd

In [2]:
file_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00280/HIGGS.csv.gz'
columns = ['target',
          ' lepton_pT', 
           'lepton_eta', 
           'lepton_phi', 
           'missing_energy_magnitude', 
           'missing_energy_phi', 
           'jet_1_pt', 
           'jet_1_eta', 
           'jet_1_phi', 
           'jet_1_b-tag', 
           'jet_2_pt', 
           'jet_2_eta', 
           'jet_2_phi', 
           'jet_2_b-tag', 
           'jet_3_pt', 
           'jet_3_eta', 
           'jet_3_phi', 
           'jet_3_b-tag', 
           'jet_4_pt', 
           'jet_4_eta', 
           'jet_4_phi', 
           'jet_4_b-tag', 
           'm_jj', 
           'm_jjj', 
           'm_lv', 
           'm_jlv', 
           'm_bb', 
           'm_wbb', 
           'm_wwbb']

In [3]:
df = pd.read_csv(file_path, names=columns)

In [4]:
df.head()

,target,lepton_pT,lepton_eta,lepton_phi,missing_energy_magnitude,missing_energy_phi,jet_1_pt,jet_1_eta,jet_1_phi,jet_1_b-tag,...,jet_4_eta,jet_4_phi,jet_4_b-tag,m_jj,m_jjj,m_lv,m_jlv,m_bb,m_wbb,m_wwbb
0,1.0,0.869293,-0.635082,0.225690,0.327470,-0.689993,0.754202,-0.248573,-1.092064,0.000000,...,-0.010455,-0.045767,3.101961,1.353760,0.979563,0.978076,0.920005,0.721657,0.988751,0.876678
1,1.0,0.907542,0.329147,0.359412,1.497970,-0.313010,1.095531,-0.557525,-1.588230,2.173076,...,-1.138930,-0.000819,0.000000,0.302220,0.833048,0.985700,0.978098,0.779732,0.992356,0.798343
2,1.0,0.798835,1.470639,-1.635975,0.453773,0.425629,1.104875,1.282322,1.381664,0.000000,...,1.128848,0.900461,0.000000,0.909753,1.108330,0.985692,0.951331,0.803252,0.865924,0.780118
3,0.0,1.344385,-0.876626,0.935913,1.992050,0.882454,1.786066,-1.646778,-0.942383,0.000000,...,-0.678379,-1.360356,0.000000,0.946652,1.028704,0.998656,0.728281,0.869200,1.026736,0.957904
4,1.0,1.105009,0.321356,1.522401,0.882808,-1.205349,0.681466,-1.070464,-0.921871,0.000000,...,-0.373566,0.113041,0.000000,0.755856,1.361057,0.986610,0.838085,1.133295,0.872245,0.808487

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11000000 entries, 0 to 10999999
Data columns (total 29 columns):
target                      float64
 lepton_pT                  float64
lepton_eta                  float64
lepton_phi                  float64
missing_energy_magnitude    float64
missing_energy_phi          float64
jet_1_pt                    float64
jet_1_eta                   float64
jet_1_phi                   float64
jet_1_b-tag                 float64
jet_2_pt                    float64
jet_2_eta                   float64
jet_2_phi                   float64
jet_2_b-tag                 float64
jet_3_pt                    float64
jet_3_eta                   float64
jet_3_phi                   float64
jet_3_b-tag                 float64
jet_4_pt                    float64
jet_4_eta                   float64
jet_4_phi                   float64
jet_4_b-tag                 float64
m_jj                        float64
m_jjj                       float64
m_lv                        float64
m_jlv                       float64
m_bb                        float64
m_wbb                       float64
m_wwbb                      float64
dtypes: float64(29)
memory usage: 2.4 GB

In [11]:
save_path = '/Users/davidziganto/Repositories/Data_Science_Fundamentals/data/'
file_name = 'higgs.csv'

In [12]:
df.to_csv(save_path + file_name)